body {
  font-size: 18px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/* Related posts */
.related {
  padding-top: 3px;
  padding-bottom: 10px;
  border-top: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;
}

.post-date {
  font-size: 17px;
  margin-bottom: 20px;
  border-bottom: 1px #ddd solid;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #999;
}

.post-date a {
  color: #555;
}

.post-title {
  font-size: 30px;
  font-weight: normal;
  text-transform: none;
}

h1.post-title {
  margin-bottom: 5px;
}

.post-plug {
  font-size: 17px !important;
}

h3.related-header {
  text-transform: none;
  font-weight: normal;
  margin-bottom: 4px;
}

.related-posts {
  margin-left: 25px;
}

.related-title {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 21px;
}

.related-date {
  font-size: 15px;
  color: #999;
}

/*.related-date {
  color: #268bd2;
  text-decoration: none;
}
*/

a:hover .related-date {
  color: inherit;
}

h2.post-list-title {
  text-transform: none;
  font-weight: normal;
  font-size:26px;
}

.post-content {
  /*font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif  !important;*/
  font-size: 17px !important;
}

.post-content > h1,
.post-content > h2,
.post-content > h3,
.post-content > h4,
.post-content > h5,
.post-content > h6 {
  margin-top: 20px;
  text-transform: none;
  font-weight: normal;
  border-bottom: 1px dotted #ddd;
}
