@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?tv8872');
	src:url('fonts/icomoon.eot?#iefixtv8872') format('embedded-opentype'),
		url('fonts/icomoon.woff?tv8872') format('woff'),
		url('fonts/icomoon.ttf?tv8872') format('truetype'),
		url('fonts/icomoon.svg?tv8872#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
	content: "\e601";
}
.icon-stopwatch:before {
	content: "\e602";
}
.icon-gift:before {
	content: "\e603";
}
.icon-lightning:before {
	content: "\e604";
}
.icon-google:before {
	content: "\e605";
}
.icon-github:before {
	content: "\e606";
}
.icon-pdf:before {
	content: "\e607";
}
.icon-cloud:before {
	content: "\e608";
}
.icon-watch:before {
	content: "\e609";
}
.icon-stopwatch2:before {
	content: "\e60a";
}
.icon-file:before {
	content: "\e60b";
}
.icon-desktop:before {
	content: "\e60c";
}
.icon-server:before {
	content: "\e60d";
}
.icon-book:before {
	content: "\f02d";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-laptop:before {
	content: "\f109";
}
.icon-cube:before {
	content: "\f1b2";
}
.icon-twitter:before {
	content: "\e600";
}
.icon-twitter2:before {
	content: "\e60e";
}
